{{define "title"}}Edit Quote{{end}}

{{define "main"}}
<div class="container flex flex-col w-full sm:max-w-xl md:max-w-2xl items-start justify-start gap-6 min-h-screen py-8 px-4 sm:px-6 lg:px-8">
    <a href="/quote/view/{{.Quote.ID}}" class="text-gray-800 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400">&larr; Back to Quote</a>
    <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-200">Edit Quote</h1>
    
    <form action="/quote/edit/{{.Quote.ID}}" method="POST" class="w-full space-y-6">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        
        <div class="flex flex-col">
            <label for="quote" class="text-lg font-semibold text-gray-800 dark:text-gray-200">Quote:</label>
            {{with .Form.FieldErrors.quote}}
                <p class="text-red-500 text-sm">{{.}}</p>
            {{end}}
            <textarea id="quote" name="quote" rows="5" class="mt-2 p-2 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200">{{.Form.Quote}}</textarea>
        </div>
        
        <div class="flex flex-col">
            <label for="author" class="text-lg font-semibold text-gray-800 dark:text-gray-200">Author:</label>
            {{with .Form.FieldErrors.author}}
                <p class="text-red-500 text-sm">{{.}}</p>
            {{end}}
            <input type="text" id="author" name="author" value="{{.Form.Author}}" class="mt-2 p-2 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
        </div>
        
        <div class="flex md:flex-row flex-col gap-4 md:justify-between">
            <input type="submit" value="Update Quote" class="px-4 py-2 bg-black dark:bg-gray-800 hover:bg-gray-700 dark:hover:bg-gray-900 text-white rounded-md cursor-pointer transition-colors duration-200">
            <button id="deleteQuoteButton" type="button" class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-md cursor-pointer transition-colors duration-200">
                Delete Quote
            </button>
        </div>
    </form>
    <form id="deleteForm" action="/quote/delete/{{.Quote.ID}}" method="POST" class="hidden">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    </form>
</div>
{{end}}