{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container flex flex-row flex-wrap w-full items-start justify-center gap-4 lg:gap-8 min-h-screen py-8">
    {{if .Quotes}}
        {{range .Quotes}}
            <div id="quote-{{.ID}}" class="relative flex flex-col items-center justify-center gap-2 rounded-md p-3 border border-gray-300 dark:border-gray-600 hover:border-gray-500 dark:hover:border-gray-400 shadow-md hover:shadow-lg transition-all duration-300 w-full sm:max-w-full sm:min-w-full md:max-w-[28rem] md:min-w-[24rem] bg-gray-50 dark:bg-gray-900">
                <p id="quote-text" class="flex w-full text-md md:text-lg text-left font-semibold text-gray-800 dark:text-gray-200 leading-relaxed">{{.Quote}}</p>
                <span class="flex flex-row w-full justify-start pr-20">
                    <p id="quote-author" class="flex w-full text-base text-left justify-start text-gray-600 dark:text-gray-400 italic">
                        — {{.Author}}
                    </p>
                </span>
                <span class="absolute bottom-2 right-2 flex flex-row gap-2">
                        <button id="copy-quote-button" class="flex rounded p-1 text-black dark:text-white hover:text-gray-500 dark:hover:text-gray-400 transition-colors duration-200" title="Copy Quote">
                            <svg width="1.37rem" height="1.37rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 11C6 8.17157 6 6.75736 6.87868 5.87868C7.75736 5 9.17157 5 12 5H15C17.8284 5 19.2426 5 20.1213 5.87868C21 6.75736 21 8.17157 21 11V16C21 18.8284 21 20.2426 20.1213 21.1213C19.2426 22 17.8284 22 15 22H12C9.17157 22 7.75736 22 6.87868 21.1213C6 20.2426 6 18.8284 6 16V11Z" stroke="currentColor" stroke-width="1.5"/>
                                <path d="M6 19C4.34315 19 3 17.6569 3 16V10C3 6.22876 3 4.34315 4.17157 3.17157C5.34315 2 7.22876 2 11 2H15C16.6569 2 18 3.34315 18 5" stroke="currentColor" stroke-width="1.5"/>
                            </svg>
                        </button>
                        <a href="/quote/view/{{.ID}}" class="flex rounded p-1 text-black dark:text-white hover:text-gray-500 dark:hover:text-gray-400 transition-colors duration-200" title="View Quote">
                            <svg fill="currentColor" width="1.37rem" height="1.37rem" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.49,26.07a5.76,5.76,0,1,0-1.42,1.42l4.22,4.22a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42ZM19,22.77a3.77,3.77,0,1,1,3.77,3.76A3.77,3.77,0,0,1,19,22.77Z"/>
                                <path d="M30,6.5H16.33L12.6,3.7l-.1-.05-.19-.09-.2,0L12,3.5H2a2,2,0,0,0-2,2v21a2,2,0,0,0,2,2H14a1,1,0,0,0,0-2H2V5.5h9.67L15.4,8.3l.13.07.12.06A1,1,0,0,0,16,8.5H30v7.81a1,1,0,1,0,2,0V8.5A2,2,0,0,0,30,6.5Z"/>
                            </svg>
                        </a>
                    </span>
            </div>
        {{end}}
    {{else}}
        <p class="text-lg text-gray-600 dark:text-gray-400 italic">There's nothing to see here yet! Why not add a quote?</p>
    {{end}}
</div>
{{end}}