{{define "title"}}Privacy Policy{{end}}

{{define "main"}}
<div class="container flex flex-col w-full sm:max-w-xl md:max-w-2xl items-start justify-start gap-6 min-h-screen py-8 px-4 sm:px-6 lg:px-8">
    <p class="text-md text-gray-600 dark:text-gray-4000">Updated: August 15, 2024</p>
    <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-200">Privacy Policy</h1>
    
    <p class="text-gray-600 dark:text-gray-400">
        At QuoteTable.com, I value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how I collect, use, store, and disclose your personal information when you use my website.
    </p>

    <p class="text-gray-600 dark:text-gray-400">
        By using QuoteTable.com, you consent to the collection and use of your personal information in accordance with this Privacy Policy.
    </p>

    <div class="w-full space-y-6">
        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Information I Collect</h2>
            <p class="text-gray-600 dark:text-gray-400">When you use my website, I collect the following types of personal information:</p>
            <ul class="list-disc list-inside text-gray-600 dark:text-gray-400 ml-4">
                <li>Information you provide when creating an account or submitting quotes</li>
                <li>Usage data and analytics information</li>
                <li>Cookies and similar technologies</li>
            </ul>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">How I Use Your Information</h2>
            <p class="text-gray-600 dark:text-gray-400">I use personal information collected for the following purposes:</p>
            <ul class="list-disc list-inside text-gray-600 dark:text-gray-400 ml-4">
                <li>To provide and improve my services</li>
                <li>To personalize your experience on my website</li>
                <li>To communicate with you about your account and my services</li>
            </ul>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Data Storage and Security</h2>
            <p class="text-gray-600 dark:text-gray-400">
                I take the security of your personal information seriously and implement appropriate technical and organizational measures to protect it. However, no method of transmission or storage is entirely secure, and I cannot guarantee absolute security.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Disclosure of Your Information</h2>
            <p class="text-gray-600 dark:text-gray-400">
                I do not sell, rent, or share your personal information with third parties, except when required by law, or when necessary to protect my rights or property, enforce my policies, or protect the safety of my users or the public.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Changes to This Privacy Policy</h2>
            <p class="text-gray-600 dark:text-gray-400">
                I may update this Privacy Policy from time to time to reflect changes in my practices or applicable laws. I will notify you of any material changes by posting the updated policy on my website, and I encourage you to review it periodically to stay informed about my privacy practices.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Contact Information</h2>
            <p class="text-gray-600 dark:text-gray-400">
                If you have any questions or concerns about this Privacy Policy or my privacy practices, please contact me at <a href="https://justinbachtell.com/" target="_blank" rel="noopener noreferrer" class="underline hover:no-underline">justinbachtell.com</a>.
            </p>
        </section>
    </div>

    <p class="text-gray-600 dark:text-gray-400 mt-6">
        By using QuoteTable.com, you acknowledge that you have read, understood, and agreed to be bound by this Privacy Policy.
    </p>
</div>
{{end}}