{{define "title"}}Terms & Conditions{{end}}

{{define "main"}}
<div class="container flex flex-col w-full sm:max-w-xl md:max-w-2xl items-start justify-start gap-6 min-h-screen py-8 px-4 sm:px-6 lg:px-8">
    <p class="text-md text-gray-600 dark:text-gray-400">Updated: August 15, 2024</p>
    <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-200">Terms & Conditions</h1>
    
    <p class="text-gray-600 dark:text-gray-400">
        Please read these Terms of Use carefully before using QuoteTable.com. By accessing or using my web application, you agree to be bound by these Terms of Use. If you do not agree with these terms, please do not use the web application.
    </p>

    <div class="w-full space-y-6">
        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Copyright Notice</h2>
            <p class="text-gray-600 dark:text-gray-400">
                All content on QuoteTable.com, including but not limited to text, graphics, logos, designs, images, and software, is the property of QuoteTable.com and is protected by international copyright laws. Unauthorized copying, reproduction, distribution, modification, or any other use of the content without express written permission from the copyright holder is strictly prohibited.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">User Conduct</h2>
            <p class="text-gray-600 dark:text-gray-400">By using my web application, you agree to:</p>
            <ul class="list-disc list-inside text-gray-600 dark:text-gray-400 ml-4">
                <li>Comply with all applicable laws and regulations.</li>
                <li>Not engage in any conduct that is harmful, offensive, or inappropriate, or that interferes with the operation of the web application or the enjoyment of other users.</li>
                <li>Not use the web application for any unlawful purposes or to engage in any fraudulent or deceptive practices.</li>
            </ul>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Limitation of Liability</h2>
            <p class="text-gray-600 dark:text-gray-400">
                In no event shall QuoteTable.com, its affiliates, or their respective agents be liable for any direct, indirect, incidental, special, consequential, or punitive damages, including but not limited to, loss of profits, data, use, or goodwill, resulting from (i) your access to or use of the web application; (ii) your inability to access or use the web application; (iii) any conduct or content of any third party on the web application; or (iv) any content obtained from the web application, whether based on warranty, contract, tort (including negligence), or any other legal theory, whether or not we have been advised of the possibility of such damages.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Indemnification</h2>
            <p class="text-gray-600 dark:text-gray-400">
                You agree to indemnify, defend, and hold harmless QuoteTable.com and its agents from and against any and all claims, liabilities, damages, losses, or expenses, including reasonable attorneys' fees and costs, arising out of or in any way connected with your access to or use of the web application, your violation of these Terms of Use, or your infringement of any intellectual property or other rights of any third party.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Changes to These Terms of Use</h2>
            <p class="text-gray-600 dark:text-gray-400">
                I reserve the right, at my sole discretion, to modify or replace these Terms of Use at any time. I will notify you of any material changes by posting the updated terms on my web application, and we encourage you to review these terms periodically to stay informed about these terms of use.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Governing Law and Jurisdiction</h2>
            <p class="text-gray-600 dark:text-gray-400">
                These Terms of Use shall be governed by and construed in accordance with the laws of [Your Jurisdiction], without regard to its conflict of law provisions. You agree to submit to the personal and exclusive jurisdiction of the courts located in [Your Jurisdiction], for the resolution of any disputes arising out of or relating to these Terms of Use.
            </p>
        </section>

        <section>
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-2">Contact Information</h2>
            <p class="text-gray-600 dark:text-gray-400">
                If you have any questions or concerns about these Terms of Use, please contact me at <a href="https://justinbachtell.com/" target="_blank" rel="noopener noreferrer" class="underline hover:no-underline">justinbachtell.com</a>.
            </p>
        </section>
    </div>

    <p class="text-gray-600 dark:text-gray-400 mt-6">
        By using QuoteTable.com, you acknowledge that you have read, understood, and agreed to be bound by these Terms & Conditions of Use.
    </p>
</div>
{{end}}