{{define "footer"}}
 <footer class="container py-8 text-center">
 <p>© {{.CurrentYear}} Built by <a class="text-black dark:text-white hover:text-gray-500 dark:hover:text-gray-4000 underline hover:no-underline" href="https://justinbachtell.com" target="_blank" rel="noopener noreferrer">Justin Bachtell</a>. All Rights Reserved.</p>
 <div class="flex flex-row items-center justify-center mt-2 gap-2">
     <a href="/terms" class="flex flex-row items-center justify-center text-black dark:text-white hover:text-gray-500 dark:hover:text-gray-400 underline hover:no-underline mr-4">Terms</a>
     <a href="/privacy" class="flex flex-row items-center justify-center text-black dark:text-white hover:text-gray-5000 dark:hover:text-gray-400 underline hover:no-underline">Privacy</a>
 </div>
 </footer>
{{end}}